.class{
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

#active-box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: #ffffff;
}

#active-box.active {
    background-color: green;
    color: white;
    border: none;
}